<img [src]="photoPath"
     alt="Profile icon"
     [ngClass]="imgClass"
     class="relative inline-block rounded-full ring-2 overflow-hidden"
     [className]="ring"
     *ngIf="photoPath; else placeholderTemplate"
>

<ng-template #placeholderTemplate>
    <span class="inline-flex relative items-center justify-center ring-2 rounded-full bg-gray-500"
          [className]="ring"
          [ngClass]="imgClass"
    >
        <span class="font-medium leading-none text-white"
              [ngClass]="placeholderClass"
        >
            {{placeholder}}
        </span>
    </span>
</ng-template>
