<!--<ion-content class="ion-padding">-->
<!--    <h1>Animal Facts</h1>-->
<!--</ion-content>-->
<!--<ion-footer collapse="fade">-->
<!--    <ion-toolbar>-->
<!--        FOOR-->
<!--        <ion-title>Footer</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-footer>-->

<!--<ion-footer collapse="fade">-->
<!--    <ion-toolbar>-->
<!--        <ion-buttons slot="primary">-->
<!--            <ion-button>-->
<!--                <ion-icon slot="icon-only" name="search"></ion-icon>-->
<!--            </ion-button>-->
<!--        </ion-buttons>-->
<!--    </ion-toolbar>-->
<!--</ion-footer>-->
