<div class="ion-padding grid gap-2">
    <div>
        <tui-loader *ngIf="!tree"></tui-loader>

        <tui-tree
            *ngFor="let item of tree"
            [tuiTreeController]="true"
            [value]="item"
            [content]="content"
            [childrenHandler]="childrenHandler"
        ></tui-tree>
    </div>

    <div class="flex justify-center">
        <button tuiButton (click)="submit()">Сохранить</button>
    </div>
</div>


<ng-template
    #content
    let-item
>
    <tui-checkbox-labeled class="tui-space_vertical-2 tui-space_left-1"
                          [ngModel]="item | tuiMapper : isChecked"
                          (ngModelChange)="onChecked(item)"
    >
        {{ item.title }}
    </tui-checkbox-labeled>
</ng-template>
