<div class="grid gap-2">
    <div class="flex justify-center grid gap-3">
        <fj-profile-icon size="xl"
                         [profile]="profile"
        ></fj-profile-icon>

        <div class="flex justify-center" id="profileName">
            <h4 class="text-2xl">{{profileRepresentation}}</h4>
        </div>
    </div>

    <div class="py-1">
        <ng-content select="actions"></ng-content>
    </div>

    <div class="">
        <div class="grid divide-y divide-gray-200">
            <div id="profileDescription" class="grid p-2"
                 *ngIf="showMissing || profile.description"
            >
                <span class="text-neutral-500 text-xs">Описание</span>
                <span class="text-lg">{{profile.description | missing}}</span>
            </div>

            <div id="profileCategories" class="grid p-2"
                 *ngIf="showMissing || profile.categories.length > 0"
            >
                <span class="text-neutral-500 text-xs">Категории</span>
                <fj-category-slider class="mt-1" [categories]="profile.categories"
                                    *ngIf="profile.categories.length > 0"
                ></fj-category-slider>
                <span class="text-lg" *ngIf="!profile.categories.length">Не указано</span>
            </div>

            <div id="profileCity" class="grid p-2"
                 *ngIf="showMissing || profile.city"
            >
                <span class="text-neutral-500 text-xs">Населенный пункт</span>
                <span class="text-lg">{{profile.city?.title | missing}}</span>
            </div>
        </div>
    </div>
</div>

