<ion-content class="ion-padding flex">
    <fj-profile-layout [profile]="profile"
                       withClickHandlers
                       [clickHandlers]=profileLayoutClickHandlers
    ></fj-profile-layout>

    <div class="my-4">
        <fj-add-profile-info-button *ngIf="!profile.description"
                                    (click)="editDescription()"
        >Добавить описание</fj-add-profile-info-button>

        <fj-add-profile-info-button *ngIf="!profile.categories.length"

                                    (click)="editCategories()"
        >Добавить категории</fj-add-profile-info-button>

        <fj-add-profile-info-button *ngIf="!profile.city"

                                    (click)="editCity()"
        >Добавить населённый пункт</fj-add-profile-info-button>
    </div>

    <button tuiButton
            (click)="logout()"
            size="s"
    >
        Выйти из аккаунта
    </button>
</ion-content>

