<div class="mt-6 ion-padding">
    <div class="grid gap-4">
        <div class="flex justify-center grid gap-3">
            <div class="rounded-full w-36">
                <img [src]="profile.photoPath ?? 'https://www.w3schools.com/howto/img_avatar.png'" alt="Profile photo image"
                     class="rounded-full"
                >
            </div>

            <div class="flex justify-center" (click)="editName()">
                <h4 class="text-2xl">{{profileRepresentation}}</h4>
            </div>
        </div>

        <div class="">
            <div class="grid gap-4">
                <div (click)="editDescription()" class="grid">
                    <ng-container [ngSwitch]="!!profile.description">
                        <ng-container *ngSwitchCase="true">
                            <span class="text-neutral-500 text-xs">Описание</span>
                            <span class="text-lg">{{profile.description}}</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="false">
                            <fj-add-profile-info-button>Добавить описание</fj-add-profile-info-button>
                        </ng-container>
                    </ng-container>
                </div>

                <div (click)="editCategories()">
                    <ng-container [ngSwitch]="profile.categories.length > 0">
                        <ng-container *ngSwitchCase="true">
                            <span class="text-neutral-500 text-xs">Категории</span>
                            <fj-category-slider class="mt-1" [categories]="profile.categories"></fj-category-slider>
                        </ng-container>

                        <ng-container *ngSwitchCase="false">
                            <fj-add-profile-info-button>Добавить категории</fj-add-profile-info-button>
                        </ng-container>
                    </ng-container>
                </div>

                <div (click)="editCity()">
                    <ng-container [ngSwitch]="!!profile.city">
                        <ng-container *ngSwitchCase="true">
                            <div class="grid">
                                <span class="text-neutral-500 text-xs">Населенный пункт</span>
                                <span class="text-lg">{{profile.city?.title}}</span>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="false">
                            <fj-add-profile-info-button>Добавить населённый пункт</fj-add-profile-info-button>
                        </ng-container>
                    </ng-container>
                </div>

                <button tuiButton
                        (click)="logout()"
                        size="s"
                >
                    Выйти из аккаунта
                </button>
            </div>
        </div>
    </div>
</div>

<fj-menu selected="profile"></fj-menu>
