<div class="ion-padding">
    <fj-select-typeahead (onSelect)="select($event)"
                         *ngIf="cityItems$ | async; else loading"
                         [items]="(cityItems$ | async) ?? []"
    >
        <ng-template let-item>
            <div class="grid">
                <span>{{item.title}}</span>
                <span class="text-neutral-500">{{item.region.title}}</span>
            </div>
        </ng-template>
    </fj-select-typeahead>
</div>

<ng-template #loading>
    <tui-loader></tui-loader>
</ng-template>
