<ion-header class="ion-no-border">
    <ion-toolbar class="flex justify-center">
        <ion-title>Fastjob</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollY]="false">
    <div *ngIf="isProfileConfigured(); else noSettings"
         class="h-full"
    >
        <div *ngIf="loading$ | async; else cardTemplate">
            <tui-loader></tui-loader>
        </div>
        <ng-template #cardTemplate>
            <fj-swipe-card [card]="card"
                           class="h-1/2 block"
                           [cardComponent]="cardComponent"
                           *ngIf="card; else noCards"
                           (accept)="accept()"
                           (reject)="reject()"
            >
            </fj-swipe-card>
        </ng-template>
    </div>
</ion-content>


<ng-template #noSettings>
    <div class="grid items-center h-2/3 justify-center"
    >
        <fj-to-profile-settings></fj-to-profile-settings>
    </div>
</ng-template>

<ng-template #noCards>
    <fj-no-swipe-cards>
        НЕЧЕГО СВАЙПАТЬ
    </fj-no-swipe-cards>
</ng-template>
