<ion-header class="ion-no-border">
    <ion-toolbar class="flex justify-center">
        <ion-title>Fastjob</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollY]="false">
    <ng-container *rerender="rerenderTrigger">
        <fj-author-home *ngIf="mode === 'author'"
                        class="h-full"
        ></fj-author-home>
        <fj-executor-home *ngIf="mode === 'executor'"
                        class="h-full"
        ></fj-executor-home>
    </ng-container>
</ion-content>


<ng-template #noSettings>
    <div class="grid items-center h-2/3 justify-center"
    >
        <fj-to-profile-settings></fj-to-profile-settings>
    </div>
</ng-template>
