<ion-header class="ion-no-border">
    <ion-toolbar class="flex justify-center">
        <ion-title>Задачи</ion-title>
    </ion-toolbar>
</ion-header>

<div class="ion-padding">
    <tui-loader *ngIf="loading$ | async; else content"></tui-loader>

    <ng-template #content>
        <div class="grid">
            <div class="bg-white shadow overflow-hidden rounded-xl">
                <ul role="list" class="divide-y divide-gray-200">
                    <fj-executor-task-type-list title="В работе"
                                                icon="construct-outline"
                                                [tasks]="tasks.work"
                                                (click)="listModal.open(tasks.work)"
                    ></fj-executor-task-type-list>
                    <fj-executor-task-type-list title="Офферы"
                                                icon="mail-unread-outline"
                                                [tasks]="tasks.offers"
                                                (click)="listModal.open(tasks.offers)"
                    ></fj-executor-task-type-list>
                    <fj-executor-task-type-list title="Метчи"
                                                icon="people-circle-outline"
                                                [tasks]="tasks.matches"
                                                (click)="listModal.open(tasks.matches)"
                    ></fj-executor-task-type-list>
                    <fj-executor-task-type-list title="Свайпы"
                                                icon="thumbs-up-outline"
                                                [tasks]="tasks.swipes"
                                                (click)="listModal.open(tasks.swipes)"
                    ></fj-executor-task-type-list>
                </ul>
            </div>
        </div>
    </ng-template>
</div>

<fj-task-list-modal #listModal
                    (clickTask)="onTaskClick($event)"
></fj-task-list-modal>
