<ion-modal [isOpen]="opened"
           [initialBreakpoint]="initialBreakpoint"
           [breakpoints]="breakpoints"
           (didDismiss)="opened = false"
>
    <ng-template>
        <div class="ion-padding">
            <span *ngIf="disclaimer"
                  class="text-gray-500 text-lg my-1 block"
            >{{disclaimer}}</span>

            <fj-task-list [tasks]="tasks" *ngIf="tasks.length"
                          class="mt-4"
            >
                <ng-template let-task>
                    <fj-task-list-item [task]="task"
                                       (click)="click(task)"
                    >
                    </fj-task-list-item>
                </ng-template>
            </fj-task-list>
        </div>
    </ng-template>
</ion-modal>
