<ion-header class="ion-no-border">
    <ion-toolbar class="flex justify-center">
        <ion-title>Задачи</ion-title>
    </ion-toolbar>
</ion-header>

<div class="ion-padding">
    <div class="grid">
        <p>В работе</p>
        <fj-task-list-item *ngFor="let task of work$ | async"
                           [task]="task"
                           (click)="onTaskClick(task)"
        >
        </fj-task-list-item>

        <p>Офферы</p>
        <fj-task-list-item *ngFor="let task of offers$ | async"
                           [task]="task"
                           (click)="onTaskClick(task)"
        >
        </fj-task-list-item>

        <p>С метчами</p>
        <fj-task-list-item *ngFor="let task of matches$ | async"
                           [task]="task"
                           (click)="onTaskClick(task)"
        >
        </fj-task-list-item>

        <p>Ожидают</p>
        <fj-task-list-item *ngFor="let task of wait$ | async"
                           [task]="task"
                           (click)="onTaskClick(task)"
        >
        </fj-task-list-item>

        <p>Выполненные</p>
        <fj-task-list-item *ngFor="let task of finished$ | async"
                           [task]="task"
                           (click)="onTaskClick(task)"
        >
        </fj-task-list-item>

    </div>
</div>
