<div class="ion-padding mt-3">
    <div class="grid gap-4 mb-4">
        <div>
            <p class="text-2xl">{{task.title}}</p>
            <p class="text-xl text-gray-600">{{task.price | taskPrice }}</p>
            <p class="text-sm pt-1 text-gray-500">{{task.createdAt | date : 'MMM d, HH:mm' }}</p>
        </div>

        <ng-template dynamic></ng-template>

        <fj-task-photos-slider [task]="task" *ngIf="task.photos.length"></fj-task-photos-slider>

        <fj-category-slider [categories]="task.categories"></fj-category-slider>

        <div class="divide-y divide-gray-200">
            <div class="grid py-1">
                <span class="text-neutral-500 text-md">Описание</span>
                <p class="text-lg">{{task.description | missing}}</p>
            </div>

            <div class="grid py-1">
                <span class="text-neutral-500 text-md">Адрес</span>
                <p class="text-lg">{{task.address | address | missing : 'Не указан'}}</p>
            </div>
        </div>
    </div>

</div>
