<div class="ion-padding mt-3">
    <div class="grid gap-4 mb-4">
        <div class="gap-2">
            <p class="text-2xl">{{task.title}}</p>
            <p class="text-xl text-gray-600">{{task.price | taskPrice }}</p>
            <div class="flex py-2 gap-1 items-center"
                 (click)="authorModal.open(task.author)"
            >
                <fj-profile-icon [profile]="task.author"
                                 size="xs"
                ></fj-profile-icon>
                <span class="text-sm">{{task.author.firstName}}</span>
            </div>
            <p class="text-sm text-gray-500">{{task.createdAt | date : 'MMM d, HH:mm' }}</p>

        </div>

        <ng-template dynamic></ng-template>

        <fj-task-photos-slider [task]="task" *ngIf="task.photos.length"></fj-task-photos-slider>

        <fj-category-slider [categories]="task.categories"></fj-category-slider>

        <div class="divide-y divide-gray-200">
            <div class="grid py-1">
                <span class="text-neutral-500 text-md">Описание</span>
                <p class="text-lg">{{task.description | missing}}</p>
            </div>

            <div class="grid py-1">
                <span class="text-neutral-500 text-md">Адрес</span>
                <p class="text-lg">{{task.address | address | missing : 'Не указан'}}</p>
            </div>
        </div>
    </div>

</div>

<fj-show-profile-modal #authorModal></fj-show-profile-modal>
