<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button [selected]="selected === 'settings'"
                        (click)="navigate('settings')"
        >
            <ion-icon [name]="getIcon('settings')"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [selected]="selected === 'tasks'"
                        (click)="navigate('tasks')"
        >
            <ion-icon [name]="getIcon('tasks')"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [selected]="selected === 'home'"
                        (click)="navigate('home')"
        >
            <ion-icon [name]="getIcon('home')"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [selected]="selected === 'chat'"
                        (click)="navigate('chat')"
        >
            <ion-icon [name]="getIcon('chat')"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [selected]="selected === 'profile'"
                        (click)="navigate('profile')"
        >
            <ion-icon [name]="getIcon('profile')"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
