<div class="grid">
    <div class="flex justify-around">
        <fj-circle-button icon="people-outline"
                          (click)="openMatches()"
                          *ngIf="task.matches?.length"
        >Метчи</fj-circle-button>

        <fj-circle-button icon="search-outline"
                          (click)="searchExecutors()"
                          *ngIf="!task.executor"
        >Исполнители</fj-circle-button>

        <fj-circle-button icon="checkmark-done-outline"
                          (click)="finishModal.open(task)"
                          *ngIf="canFinishTask$ | async"
        >Задача выполнена</fj-circle-button>
    </div>

</div>

<ion-modal [isOpen]="showMatches"
           [initialBreakpoint]="0.7"
           [breakpoints]="[0, 0.7]"
           (didDismiss)="showMatches = false"
>
    <ng-template>
        <div class="ion-padding">
            <fj-task-matches [task]="task"></fj-task-matches>
        </div>
    </ng-template>
</ion-modal>

<fj-finish-task #finishModal></fj-finish-task>
