<a class="block">
    <div class="flex items-center p-4">
        <div class="grid w-full">
            <div class="flex-1 flex items-center">
                <div class="flex-1 grid gap-4">
                    <div>
                        <p class="text-sm font-medium w-2/3 truncate">
                            {{task.title}}
                        </p>
                        <p class="mt-2 flex items-center text-sm text-gray-500">
                            <span class="truncate">{{task.price ?? 'По договоренности'}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="ml-auto h-6">
                <ng-content select="icon"></ng-content>
            </div>
        </div>
    </div>
</a>
