<div class="grid flex justify-center" mat-dialog-content>
    <button tuiButton
            appearance="outline"
            size="s"
            type="button"
            (click)="submit()"
    >{{submitText}}</button>
    <form [formGroup]="form">
        <div *ngFor="let control of getControlNames()" class="mt-1">
            <tui-input [tuiTextfieldLabelOutside]="true"
                       [formControlName]="control"
            >
                {{ getLabel(control) }}
                <input tuiTextfield/>
            </tui-input>
        </div>
    </form>
</div>
