<div class="mt-10 grid flex justify-center" mat-dialog-content>
     <form [formGroup]="form">
        <div *ngFor="let control of getControlNames()" class="mt-1">
            <tui-input [tuiTextfieldLabelOutside]="true"
                       [formControlName]="control"
            >
                {{ getLabel(control) }}
                <input tuiTextfield/>
            </tui-input>
        </div>
    </form>

    <div class="flex mt-2 justify-center">
        <button tuiButton
                type="button"
                (click)="submit()"
        >{{submitText}}</button>
    </div>
</div>
